services:
  postgres:
    image: postgres:15-alpine
    container_name: fintech_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: rootpassword
      POSTGRES_DB: fintech_ledger